<%- if controller_name != 'sessions' && controller_name != 'registrations' && controller_name != 'confirmations' && controller_name != 'unlocks' && controller_name != 'passwords'%>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container">
    <a class="navbar-brand" href="/shows">Book <%= image_tag('film_icon.png') %>Ticket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
        <li class="nav-item text-center">
          <p><%= current_user.name %></p>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary text-white" data-confirm="Are you sure?" data-method="delete"
            href="/users/sign_out">Sign out</a>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary text-white" href="/users/sign_up">Sign Up</a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<% end %>